<!DOCTYPE html>
<html>

<style text="text/css">
    .body {
        color: #1da1f2;
        text-align: center;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* padding-left: 10px; */
    }

    .login-form {
        max-width: 400px;
        margin: 0 auto;
        padding: 30px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    }

    .form-group {
        text-align: left;
        margin-bottom: 20px;
    }

    .form-group label {
        display: block;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .text-danger {
        color: red;
    }

    .btn-primary {
        background-color: #1da1f2;
        border: none;
    }

    .btn-primary:hover {
        background-color: #0f7ec8;
    }

    @keyframes rotateText {
        0% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes shadowPulse {
        0% {
            text-shadow: 0 0 10px #6cbff2;
        }

        50% {
            text-shadow: 0 0 20px #57b7f2;
        }

        100% {
            text-shadow: 0 0 10px #45b0f3;
        }
    }

    .user {
        text-shadow: 1px 1px 1px #6cbff2;
    }

    .user:hover {
        /*animation of hiligthing*/
        text-shadow: 2px 1px 1px #6cbff2, 0 0 25px blue, 0 0 5px darkblue;
        animation: shadowPulse 2s infinite;
    }

    .pass {
        text-shadow: 1px 1px 1px #6cbff2;
    }

    .pass:hover {
        /*animation of hiligthing*/
        text-shadow: 2px 1px 1px #6cbff2, 0 0 25px blue, 0 0 5px darkblue;
        animation: shadowPulse 2s infinite;
    }
</style>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<body class="body">
    <form class="login-form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username" class="user">Username <span class="text-danger">*</span></label>
            {{form.username}}
        </div>
        <div class="form-group">
            <label for="password" class="pass">Password <span class="text-danger">*</span></label>
            {{form.password}}
        </div>
        <button class="btn btn-primary w-100" type="submit">Login</button>
        <div class="text-center mt-3">
            <p><small class="text-dark">Don't have an account? <a href="{% url 'register' %}"
                        class="text-primary font-weight-bold">Sign Up</a></small></p>
        </div>
    </form>
</body>

</html>