<!doctype html>
<html>

<head>
    <div class="Title_container">
        <h1 class="display-1">Register Here</h1>
    </div>
</head>

<style text="text/css">
    .body {
        color: #1da1f2;
        text-align: center;
        background-color: lightblue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        /* padding-left: 10px; */
    }

    .form-group {
        font-size: 28px;
        padding: 0px 10px;
    }

    .Title_container {
        margin-left: 160px;
        margin-right: 160px;
        text-align: center;
    }

    .display-1 {
        font-size: 82px !important;
    }

    .button_submit {
        margin-bottom: 20px;
        margin-left: 175px;
        margin-right: 175px;
        text-align: center;
    }

    .btn.btn-primary.w-100 {
        text-align: center;
    }
</style>


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% load crispy_forms_tags %}

<body class="body">
    <form class="login-form" method="POST">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-12">
            </div>
            <div class="col-md-6">
                <div class="form-group position-relative">
                    <label>First name <span class="text-danger">*</span></label>
                    {{form.first_name}}
                </div>
                {% if form.first_name.errors %}
                {% for error in form.first_name.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="form-group position-relative">
                    <label>Last name <span class="text-danger">*</span></label>
                    {{form.last_name}}
                </div>
                {% if form.last_name.errors %}
                {% for error in form.last_name.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="form-group position-relative">
                    <label>Your Email <span class="text-danger">*</span></label>
                    {{form.email}}
                </div>
                {% if form.email.errors %}
                {% for error in form.email.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="form-group position-relative">
                    <label>Username <span class="text-danger">*</span></label>
                    {{form.username}}
                </div>
                {% if form.username.errors %}
                {% for error in form.username.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="form-group position-relative">
                    <label>Password <span class="text-danger">*</span></label>
                    {{form.password1}}
                </div>
                {% if form.password1.errors %}
                {% for error in form.password1.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="form-group position-relative">
                    <label>Confirm Password <span class="text-danger">*</span></label>
                    {{form.password2}}
                </div>
                {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
                {% endfor %}
                {% endif %}
            </div>
            <div class="col-md-12">
                <div class="form-group form-check">
                    <div class="custom-control">
                        <input type="checkbox" value="clicked" name="terms_conditions" class="form-check-input"
                            id="terms_check">
                        <label class="form-check-label" for="terms_check">I Accept <a href="{% url 'terms' %}"
                                class="text-primary">Terms And
                                Conditions</a></label>
                    </div>
                    {% if form.check.errors %}
                    {% for error in form.check.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}
                            {% if check == False %}
                            <strong> You must accept the terms and conditions to continue</strong>
                            {% endif %}
                        </strong>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-md-12">
                <div class="button_submit">
                    <button class="btn btn-primary w-100" type="submit">Register</button>
                </div>
            </div>
            <div class="mx-auto">
                <p class="mb-0 mt-3"><small class="text-dark mr-2">Already have an account ?</small> <a
                        href="{% url 'login' %}" class="text-dark font-weight-bold">Sign in</a></p>
            </div>
        </div>
    </form>
</body>

</html>