{% extends 'main/base.html' %}
{% block title %}Account Settings - {{user.username}}{% endblock %}
{% block content %}
<h2>Account Settings</h2>
<form method="post" action="{% url 'account_settings' user.id %}">
    {% csrf_token %}

    <div class="mb-3">
        <label for="id_username" class="form-label">Username:</label>
        <input type="text" id="id_username" name="username" class="form-control" value="{{ user.username }}" required>
    </div>

    <div class="mb-3">
        <label for="id_password" class="form-label">Password:</label>
        <input type="password" id="id_password" name="password" class="form-control" required>
    </div>

    <div class="mb-3">
        <label for="id_email" class="form-label">Email:</label>
        <input type="email" id="id_email" name="email" class="form-control" value="{{ user.email }}" required>
    </div>

    <button type="submit" class="btn btn-primary">Update Account</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Cancel</button>
</form>

{% for error in form.errors %}
<p class="text-danger">{{ error }}</p>
{% endfor %}

{% endblock %}