<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}My Website{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <style>
        .color-change-2x {
            -webkit-animation: color-change-2x 2s linear infinite alternate both;
            animation: color-change-2x 2s linear infinite alternate both
        }

        @-webkit-keyframes color-change-2x {
            0% {
                background: #19dcea
            }

            100% {
                background: #b22cff
            }
        }

        @keyframes color-change-2x {
            0% {
                background: #19dcea
            }

            100% {
                background: #b22cff
            }
        }

        .jello-horizontal {
            -webkit-animation: jello-horizontal .9s both;
            animation: jello-horizontal .9s both
        }

        @-webkit-keyframes jello-horizontal {
            0% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1)
            }

            30% {
                -webkit-transform: scale3d(1.25, .75, 1);
                transform: scale3d(1.25, .75, 1)
            }

            40% {
                -webkit-transform: scale3d(.75, 1.25, 1);
                transform: scale3d(.75, 1.25, 1)
            }

            50% {
                -webkit-transform: scale3d(1.15, .85, 1);
                transform: scale3d(1.15, .85, 1)
            }

            65% {
                -webkit-transform: scale3d(.95, 1.05, 1);
                transform: scale3d(.95, 1.05, 1)
            }

            75% {
                -webkit-transform: scale3d(1.05, .95, 1);
                transform: scale3d(1.05, .95, 1)
            }

            100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1)
            }
        }

        @keyframes jello-horizontal {
            0% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1)
            }

            30% {
                -webkit-transform: scale3d(1.25, .75, 1);
                transform: scale3d(1.25, .75, 1)
            }

            40% {
                -webkit-transform: scale3d(.75, 1.25, 1);
                transform: scale3d(.75, 1.25, 1)
            }

            50% {
                -webkit-transform: scale3d(1.15, .85, 1);
                transform: scale3d(1.15, .85, 1)
            }

            65% {
                -webkit-transform: scale3d(.95, 1.05, 1);
                transform: scale3d(.95, 1.05, 1)
            }

            75% {
                -webkit-transform: scale3d(1.05, .95, 1);
                transform: scale3d(1.05, .95, 1)
            }

            100% {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1)
            }
        }

        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #f5f8fa;
            padding-top: 20px;
        }

        .sidenav a {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 18px;
            color: #1da1f2;
            display: block;
            text-shadow: 1px 1px darkblue;
            text-align: center;
            width: 100%;
            border: #9da7ae;

        }

        .sidenav a:hover {
            background-color: #e1ecf4f5;
            border-radius: 10px;
            animation: jello-horizontal .9s both;
        }

        .main {
            flex: 1;
        }

        h1 {
            font-size: 28px;
            color: #1da1f2;
        }

        hr {
            border-top: 1px solid #e1ecf4;
        }

        .footer-text {
            color: #1da1f2;
            font-size: large;

        }

        .footer {
            width: 100%;
            background-color: #f5f8fa;
            text-align: center;
        }

        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
    </style>
</head>

<body>
    <div class="sidenav">
        {% if user.is_authenticated %}
        <a>Logged in as {{current_user.username}}</a>
        {% else %}
        <a>Not logged in</a>
        {% endif %}
        <a href="/home/">Home</a>
        {% if user.is_authenticated %}
        <a href="/logout">Logout</a>
        <a href="/profile/{{user.id}}">Profile</a>
        {% endif %}
    </div>
    <div id="content" class="main">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-8">
                    <hr>
                    {% if user.is_authenticated %}
                    {% block content %}{% endblock %}
                    {% else %}
                    <p>You are not logged in</p>
                    <a href="/login" class="btn btn-primary">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- footer start  -->
    <footer class="text-center text-white" style="background-color: #f5f8fa;">
        <div class="container pt-4">
            <section class="mb-4">
            </section>
        </div>
        <!-- Copyright -->
        <div class="text-center text-dark p-3" style="background-color: #f5f8fa;">
            © 2023 My Website
        </div>
        <!-- Copyright -->
    </footer>
    <!-- footer end -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>