{% extends 'main/base.html' %}

{% block title %}
Edit Profile - My Website
{% endblock %}

{% block content %}

<style>
    .profile-pic {
        max-width: 400px;
        max-height: 400px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>

<h1>Edit Profile</h1>
<img class="profile-pic" src="{{ user.user_profile.profile_pic.url }}" alt="Profile Picture">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="profile_pic" class="form-label">Profile Picture</label>
        <input class="form-control" type="file" id="profile_pic" name="profile_pic">
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Bio</label>
        <textarea class="form-control" id="description" name="description" rows="3" cols="100"
            maxlength="400">{{ user.user_profile.description }}</textarea>
    </div>
    <button type="submit">Save changes</button>
</form>
{% endblock %}