{% extends 'main/base.html' %}

{% block title %}Edit a post{% endblock %}
{% block content %}

<head>
    <h1>Changed your mind there?</h1>
    <p>Don't worry, we got you covered.</p>
</head>

<body>

    <form method="post">
        {% csrf_token %}
        <textarea class="form-control" rows="3" placeholder="{{post.text}}" name="edited_text"></textarea>
        <button type="submit" name="submit_edited_post" value="clicked" class="btn btn-success">Save</button>
        <button type="submit" name="cancel_edit" value="clicked" class="btn btn-danger">Cancel</button>
    </form>



</body>
{% endblock %}