{% extends 'main/base.html' %}

{% block title %}Home{% endblock %}

<style>
    .card-text.date {
        float: left !important;
        margin-top: 5px;
    }

    .card-body.card {
        /* margin-top: 10px; */
        padding-top: 10px;
    }
</style>

{% block content %}

<head>
    <h1>Home</h1>
</head>

<body>
    {% if not show_post_creation_form %}
    <form method="post">
        {% csrf_token %}
        <div class="input-group-prepend">
            <button type="submit" name="Show_create_post" value="clicked" class="btn btn-primary">Create a post</button>
        </div>
    </form>
    {% endif %}
    {% if show_post_creation_form %}
    <form method="post" id="post_creation_form" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
            <textarea type="text" name="post_text" placeholder="What are your thoughts?" rows="3" cols="100"
                maxlength="200"></textarea>
        </div>
        <div class="mb-3">
            <button type="submit" name="create_post" value="clicked" class="btn btn-success">Post</button>
            <button type="submit" name="cancel_post" value="clicked" class="btn btn-secondary">Cancel</button>
        </div>
    </form>
    {% endif %}
    <hr class="border border-primary border-2 opacity-50">
    <div class="mb-3">
        {% for post in post_list %}
        <div class="card mb-0">
            <div class="card-header">
                <div class="vstack gap-3">
                    <img src="{{ post.user.user_profile.profile_pic.url }}" alt="Profile Picture" class="rounded-circle"
                        width="70" height="50">
                    <a class="link-dark link-underline link-underline-opacity-0" href="/profile/{{post.user.id}}">
                        <h5 class="card-title">{{ post.user }}</h5>
                    </a>
                </div>
                {% if post.user.id == current_user.id or current_user.is_superuser %}
                <div class="text-end">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Actions
                        </button>
                        <ul class="dropdown-menu">
                            {% if post.user.id == current_user.id %}
                            <li><a class="dropdown-item" href="/edit_post/{{post.id}}/">Edit</a></li>
                            {% endif %}
                            {% if post.user.id == current_user.id or current_user.is_superuser %}
                            <li><a class="dropdown-item" href="{% url 'delete_post' post.id %}">Delete</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="card-body">
                <p class="card-text">{{ post.text }}</p>
            </div>
            <div class="text-end">
                <div class="card-footer">
                    <p class="card-text date"><small class="text-muted">Added on
                            {{post.date}}</small>
                        {% if post.was_edited %}
                        <small class="text-muted"> (edited)</small>
                        {% endif %}
                    </p>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="md-3">
                <form method="post">
                    {% csrf_token %}
                    <div class="card-body">
                        <div class="md-3">
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            <button class="btn btn-success" name="like_button" value="clicked">Like
                                {{ post.total_likes }}</button>
                        </div>
                    </div>
                </form>
                <form method="post">
                    {% csrf_token %}
                    <div>
                        <!-- <div>Comments</div> -->
                    </div>
                </form>
            </div>
        </div>
        <hr class="border border-primary border-1 opacity-50">
        {% endfor %}
</body>
{% endblock %}