{% extends 'main/base.html' %}

{% block title %}
Profile - My Website
{% endblock %}
{% block content %}
<style>
    .profile-pic {
        max-width: 400px;
        max-height: 400px;
        margin: 0 auto;
        border-radius: 50%;
    }

    .form-floating {
        max-height: 400px;
        margin: 0 auto;
        border-radius: 50%;
    }
</style>


<h1>Welcome to the profile page of {{ user.username }}!</h1>
<hr>
<img class="profile-pic" src="{{ user_profile.profile_pic.url }}">

<div class="form-floating mb-3">
    <p class="fw-light">Bio:</p>
    <p class="font-monospace" id="floatingTextarea2Disabled">{{ user_profile.description }}</p>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
    {% if current_user.id == user_profile.user.id or current_user.is_superuser %}
    <a href="{% url 'account_settings' user_profile.user.id %}"><button class="btn btn-primary me-md-2"
            type="button">Account
            Settings</button></a>
    {% endif %}
    {% if user_profile.user.id == current_user.id %}
    <a href="{% url 'edit_profile' user.id %}"><button class="btn btn-primary me-md-2" type="button">Edit
            profile</button> </a>
    {% endif %}
</div>

<hr>
<p class="fw-bold">Your posts:</p>
{% for post in post_list %}
{% if post.user.id == user.id %}
<div class="card mb-0">
    <div class="card-header">
        <div class="vstack gap-3">
            <img src="{{ post.user.user_profile.profile_pic.url }}" alt="Profile Picture" class="rounded-circle"
                width="70" height="50">
            <a class="link-dark link-underline link-underline-opacity-0" href="/profile/{{post.user.id}}">
                <h5 class="card-title">{{ post.user }}</h5>
            </a>
        </div>
        {% if post.user.id == current_user.id or current_user.is_superuser %}
        <div class="text-end">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Actions
                </button>
                <ul class="dropdown-menu">
                    {% if post.user.id == current_user.id %}
                    <li><a class="dropdown-item" href="/edit_post/{{post.id}}/">Edit</a></li>
                    {% endif %}
                    {% if post.user.id == current_user.id or current_user.is_superuser %}
                    <li><a class="dropdown-item" href="{% url 'delete_post' post.id %}">Delete</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="card-body">
        <p class="card-text">{{ post.text }}</p>
    </div>
    <div class="text-end">
        <div class="card-footer">
            <p class="card-text date"><small class="text-muted">Added on
                    {{post.date}}</small>
                {% if post.was_edited %}
                <small class="text-muted"> (edited)</small>
                {% endif %}
            </p>
        </div>
    </div>
</div>
<div class="card-body">
    <div class="md-3">
        <form method="post">
            {% csrf_token %}
            <div class="card-body">
                <div class="md-3">
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    <button class="btn btn-success" name="like_button" value="clicked">Like
                        {{ post.total_likes }}</button>
                </div>
            </div>
        </form>
        <form method="post">
            {% csrf_token %}
            <div>
                <!-- <div>Comments</div> -->
            </div>
        </form>
    </div>
</div>
<hr class="border border-primary border-1 opacity-50">
{% endif %}
{% endfor %}

{% endblock %}
<!-- MyWebApplication/files/profile_pic/Untitled.png -->